  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/yo.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy hernan un alumno de la utn fra.</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Esto es un trabajo práctico</h3>
    <p>Esto es un trabajo practico que se tiene que entregar en tiempo y forma para la aprobacion de la materia. </p>
  </div>
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Juego Propio INFO</h3>
    <p>El juego propio seleccionado es el de adivinar el numero, se trata de ir escribiendo los numeros hasta poder llegar a adivinar el mismo. También tenes la seccion "Ayuda" en el cual si vos clickeas en ese boton te puede aparecer  2 posibles casos  el de 0-50 que significa que el numero seleccionado al azar está entre esos numeros, si no de 50-100 que si aparece es por que el numero está entre esos</p>
  </div>
  
  <!-- Third Container (Grid) -->
  
  
  <!-- Footer -->