  <div class="divprincipal">

    <marquee class="marque" behavior="" direction="alternate">Recomendación antes de jugar lee la información del juego que está por debajo.</marquee>    
<H1>ADIVINA EL NÚMERO</H1>

<div>
  <div class="d-flex justify-content-around">
    <div *ngIf = "!bop">
    </div> 
    <div>
      <img width="300px" height="300px" src="../../../../assets/imagenes/magooooo-_1_.svg" alt="">
    </div>
    <div *ngIf = "!bop">
    </div>
    <div *ngIf = "bop" >
      <img width="300px" height="300px" src="../../../../assets/imagenes/flecha.svg" alt="">
    </div>
    <div *ngIf = "bop" >
      <img *ngIf = "mostrar1" width="300px" height="300px" src="../../../../assets/imagenes/signoPregunta.svg" alt="">
      <img *ngIf = "ganaste" width="300px" height="300px" src="../../../../assets/imagenes/pulgarrrr.svg" alt="">
      <img *ngIf = "mostrar2" width="300px" height="300px" src="../../../../assets/imagenes/0-50.svg" alt="">
      <img *ngIf = "mostrar3" width="300px" height="300px" src="../../../../assets/imagenes/123456.svg" alt="">
    </div>
  </div>
</div>

<button *ngIf = "!bop" class="centro btn-lg" (click)="GenerarNumero()">GENERAR NUMERO</button>
<div class="d-flex justify-content-around">
  <div *ngIf = "bop">
    <p>hola</p>
  </div>
  <div>
    <input placeholder="   INGRESE EL NUMERO" [(ngModel)]="numeroIngresado" *ngIf = "bop" type="number">
    <button *ngIf = "bop" class="centro btn btn-primary" (click) = "EnviarNumero()">ENVIAR</button>
  </div>
  <div *ngIf = "bop">
    <button (click) = "ayuda()" class="btn btn-primary btn-lg" >AYUDA</button>
  </div>
</div>
<div class="container  d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-auto">
      <button type="button" class="btn btn-danger btn-lg bep"  (click)="guardar()">Guardar puntajes</button>
    </div>
    <div class="col-sm-auto">
      <button type="button" class="btn btn-secondary btn-lg bep" (click)="mostrar()">Listar puntajes</button>  
    </div>
  </div>
</div>  
<div class="paranoverfoter">
  <H1>INFORMACIÓN DEL JUEGO</H1>
  <p>Este juego es utilizado por Hernan vilar con el fin de hacer divertir a las personas.El juego consiste en lo siguiente, uno tiene que apretar en el boton "GENERAR NUMERO"
    lo cual va a generar un numero al azar del 0 al 100.El objetivo es que el jugador logre adivinar el numero lo mas rapido posible.Tambien hay un boton de "AYUDA" lo cual
    si uno lo apreta puede ver una pequeña ayuda.¿Cual? la siguiente: al apretar el boton aparecera una imagen que puede decir 0-50 o 50-100 dependiendo el numero al azar
    que se genero es la imagen que aparece.
  </p>
</div>

</div>
<!-- <app-chatcompleto2></app-chatcompleto2> -->