 
<div *ngIf="viendo()"></div>
<marquee class="marque" behavior="" direction="alternate">¿Deseas ser solidario y  donar 1 dolar? Contáctate con nosotros email: hernannvilar@gmail.com.</marquee>
    <h1>HOMEEE</h1>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        <h2>Ahorcado</h2>
        <p>A "Piedra, papel o tijeras" se juega de dos en dos. Los jugadores se deben poner uno frente al otro con una mano a la espalda y decir en alto: piedra, papel o tijera, justo al acabar la frase enseñarán las manos y verán quien gana. Si los dos jugadores sacan la misma figura ..................................</p>
        <img class="chico"  src="../../../assets/ahorcado.jpg" alt="PiedraPapelTijera">
        <p><a class="but btn btn-secondary" [routerLink]="['/Juegos/piedrapapeltijera']" role="button">JUGAR&raquo;</a></p>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h2>Mayor o Menor</h2> 
        <p>El tateti -o tres en raya- es un juego bastante simple. Consta de un tablero de 9 casillas donde dos jugadores se turnan para realizar sus movimientos. El objetivo es conseguir colocar tres fichas propias en línea -ya sea vertical, horizontal o diagonal- antes que el contrario.................................</p>
        <img class="chico"  src="../../../assets/mayorque.jpg" alt="">
        <p><a class="but btn btn-secondary" [routerLink]="['/Juegos/mayorymenor']" role="button">JUGAR&raquo;</a></p>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h2>¿Quién es?</h2>
        <p>El Juego de adivinar la persona es un juego muy divertido en el cual se tiene que adivinar quien se encuentra en la imagen pero OJO está imagen está difuminada lo cual no va a ser tan facil como uno cree a veces uno piensa que es una persona pero en realidad es otra que es muy parecida.........................</p>
        <img class="chico"  src="../../../assets/difuminada.jpg" alt="">
        <p><a class="but btn btn-secondary" [routerLink]="['/Juegos/adivina']" role="button">JUGAR&raquo;</a></p>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h2>Preguntados</h2>
        <p>El Preguntados es un juego maravilloso que no sólo permite al niño desarrollar su memoria, orientarse en el espacio, el reconocimiento visual, entre otros, sino que además facilita la incorporación de conocimientos y saberes de la cultura general de manera lúdica..............</p>
        <img class="chico"  src="../../../assets/preguntados.jpg" alt="PiedraPapelTijera">
        <p><a class="but btn btn-secondary" [routerLink]="['/Juegos/preguntados']" role="button">JUGAR&raquo;</a></p>
      </div>
    </div>  
    </div>
    <div class="tepe" *ngIf = "boton">
      <app-chat-completo></app-chat-completo>
      
    </div>   
    <button (click) = "funcc()" class="mover btn btn-secondary revabajo">MOSTRAR CHAT</button>



