<div *ngIf = "notermino">
    <div class="divSecundario">
        <img *ngIf = "contador == 0" src="../../../../assets/imagenAhorcado/inicial.jpg" alt="">
        <img *ngIf = "contador == 1" src="../../../../assets/imagenAhorcado/primerError.jpg" alt="">
        <img *ngIf = "contador == 2" src="../../../../assets/imagenAhorcado/segundoError.jpg" alt="">
        <img *ngIf = "contador == 3" src="../../../../assets/imagenAhorcado/terceroError.jpg" alt="">
        <img *ngIf = "contador == 4" src="../../../../assets/imagenAhorcado/cuartoError.jpg" alt="">
        <img *ngIf = "contador == 5" src="../../../../assets/imagenAhorcado/quintoError.jpg" alt="">
        <img *ngIf = "contador == 6" src="../../../../assets/imagenAhorcado/ErrorFinal.jpg" alt="">
        <h1>{{aux2}}</h1>
    </div>
    <div class="centrar">
        <table>
            <tr>
                <button (click) = "click('A')" [disabled] = "statea" >A</button>
                <button (click) = "click('B')" [disabled] = "stateb">B</button>
                <button (click) = "click('C')" [disabled] = "statec">C</button>
                <button (click) = "click('D')" [disabled] = "stated">D</button>
                <button (click) = "click('E')" [disabled] = "statee">E</button>
                <button (click) = "click('F')" [disabled] = "statef">F</button>
                <button (click) = "click('G')" [disabled] = "stateg">G</button>
                <button (click) = "click('H')" [disabled] = "stateh">H</button>
                <button (click) = "click('I')" [disabled] = "statei">I</button>
            </tr>
            <tr>
                <button (click) = "click('J')" [disabled]  = "statej">J</button>
                <button (click) = "click('K')" [disabled] = "statek">K</button>
                <button (click) = "click('L')" [disabled] = "statel">L</button>
                <button (click) = "click('M')" [disabled] = "statem">M</button>
                <button (click) = "click('N')" [disabled] = "staten">N</button>
                <button (click) = "click('Ñ')" disabled = "stateñ">Ñ</button>
                <button (click) = "click('O')" [disabled] = "stateo">O</button>
                <button (click) = "click('P')" [disabled] = "statep">P</button>
                <button (click) = "click('Q')" [disabled] = "stateq">Q</button>
            </tr>
            <tr>
                <button (click) = "click('R')" [disabled] = "stater">R</button>
                <button (click) = "click('S')" [disabled] = "states">S</button>
                <button (click) = "click('T')" [disabled] = "statet">T</button>
                <button (click) = "click('U')" [disabled] = "stateu">U</button>
                <button (click) = "click('V')" [disabled] = "statev">V</button>
                <button (click) = "click('W')" [disabled] = "statew">W</button>
                <button (click) = "click('X')" [disabled] = "statex">X</button>
                <button (click) = "click('Y')" [disabled] = "statey">Y</button>
                <button (click) = "click('Z')" [disabled] = "statez">Z</button>
            </tr>
        </table>
        <button class="btn btn-primary soloBoton">INICIAR</button>
    </div>
</div>
<div *ngIf = "!notermino" class="divPrincipal">
<button class="btn btn-warning">LISTAR</button>
<button class="btn btn-primary">GUARDAR</button>
</div>