.divPrincipal
{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: darkgray;
}
.r:hover
{
  border-width: 11px;
  border-style: solid;
  border-color: black;
}
.divJuego
{
   height: 100vh;
   background-color: coral;
}
.imagen
{
  width: 100%;
  display: block;
  margin: auto;
  height: 500px;
  width: 500px;
  filter: blur(10px);
  border-color: black;
  border-style: solid;
  pointer-events: none;
}
.imagenBuena
{

  width: 100%;
  display: block;
  margin: auto;
  height: 500px;
  width: 500px;
  border-color: black;
  border-style: solid;
  pointer-events: none;
}
.soloundiv
{
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button
{
  margin-left: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 200px;
  height: 50px;
}
.s
{
  height: 300px;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sfalso
{
  height: 100vh;
  background-color: chocolate;
}
.centrarbotonguardarylistar
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.eu
{
  margin-top: 3px;
  text-align: center;
}
