<div *ngIf = "CuantosNumerosHay != -1" class="divPrincipal">
    <div class="cent">
        <h1>¿Quién es más alto/a?</h1>
    </div>
    <div class="divSecundario">
    <img class="imgizquierdo"  (click) = "click('foto1')" src="{{aux.foto1}}" alt="">
    <img class="imgderecho" (click) = "click('foto2')" src="{{aux.foto2}}" alt="">
    </div>
<div class="divh1">
    <h2 class> ({{aux.nombrefoto1}}) </h2>
    <h2 class> ({{aux.nombrefoto2}}) </h2>
</div>
</div>
<div class="principal2" *ngIf = "CuantosNumerosHay == -1" >
<button class="btn btn-primary">LISTAR</button>
<button class="btn btn-warning">GUARDAR</button>
</div>
