.tamañolo
{
    height: 70vh;
}
.scroll {
    background-color: white;
    width: 300px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    
  }
  p
  {
      background-color: black;
      height: 50px;
  }