.tamañolo
{
    height: 70vh;
}
.scroll {
    background-color: white;
    width: 300px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    border: black 2px solid;
   
    
  }
  .contei
  {
      margin-left: 805px;
  }
