<ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let mensaje of listadoMensajes; let i = index"
      [class.active]="i == currentIndex"
    >
    <span class="deeee" *ngIf = "mensaje.email == 'yo'">{{mensaje.email}} : {{mensaje.mensaje}}</span>
    <span class="deeee" *ngIf = "mensaje.email == 'yo'" > {{ mensaje.fecha }}  </span>
    <span class="dete" *ngIf = "mensaje.email != 'yo'">{{mensaje.email}} : {{mensaje.mensaje}}</span>
    <span class="dete" *ngIf = "mensaje.email != 'yo'" > {{ mensaje.fecha }}  </span>
     
    </li>
  </ul>
